# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
tmp/
temp/

# Operating system files
.DS_Store
Thumbs.db

# IDE and Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test coverage
coverage/
*.lcov

# Other files
package-lock.json
.vercel
